@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/*
	Global styles for InstaClone
	Most styling is done with Tailwind classes.
	This file only contains app-wide defaults.
*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(9 9 11); /* zinc-950 */
	color: white;
	font-family:
		Inter,
		system-ui,
		sans-serif;
}

/* Better looking text selection */
::selection {
	background-color: rgb(236 72 153); /* pink-500 */
	color: white;
}